rojo_pag = #FF1D0D
amarillo_pag = #F5FF0D
rojo2 = #BE1F12

@font-face {
	font-family: 'Wilbur';
	src:url('../fonts/Wilbur.eot?bk6yrf');
	src:url('../fonts/Wilbur.eot?#iefixbk6yrf') format('embedded-opentype'),
		url('../fonts/Wilbur.woff?bk6yrf') format('woff'),
		url('../fonts/Wilbur.ttf?bk6yrf') format('truetype'),
		url('../fonts/Wilbur.svg?bk6yrf#Wilbur') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Wilbur';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-menu:before {
	content: "\e600";
}

.icon-icon-user:before {
	content: "\e604";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-linkedin:before {
	content: "\eac8";
}

body
	margin 0
	padding 0
	font-size 16px

.container
	background-image url('../images/granjaHome.jpg')
	background-attachment fixed
	height 100%
	width 100%
	position relative
	
.Entrada
	padding .5em
	display block
	width 100%
	background white
	text-align center
	font-size 1.5em
	input
		margin 1em .5em 0 0
		width 300px
		border-radius 15px
		border 2px solid rojo2
	label
		margin 1em .5em 0 0
	.button_procesos
		color white
		font-size 1em
		margin 2em auto !important
		margin-bottom 1em !important
		
#menu
	display none 	
.registro
	display none
	color white
	background black
	text-align center 
	padding 1em
	.button_registro
		margin 0 auto
		background rojo_pag
		width 180px
		height 30px
		font-family "Varela Round"
		font-size 1.3em
		padding 0 1em
		border-radius 4px
		cursor pointer
		border-style solid 
		border-color rojo2
		border-width 0px 0px 5px
	 
.sponsors
	margin-top .5em
	text-align center
	font-size 3em
	a
		text-decoration none
		padding .2em
		color white
		&:hover
			color amarillo_pag
	figure
		img
			width 225px
			height 200px
			border-radius 100%
			border 8px solid amarillo_pag	
			&:hover
				cursor pointer
				transform rotate(360deg)
				transition transform .3s ease-in-out

.position
	position absolute
	top 2em
	right 0	
	color white
	text-decoration none
	
.big	
	font-size 2.5em
	top .5em
	right .2em
		
header
	span
		font-family 'Varela Round'
		color white
	a
		color red
	
h1
	border-bottom 2px solid red
	text-align center
	padding 0
	font-family 'Lobster'
	letter-spacing 2px
	font-size 4em;
	margin 0
	color white
h2
	text-align center
	padding 0
	font-family 'Lobster'
	letter-spacing 2px
	font-size 3em;
	font-weight 400
	margin 0
	color white
	
	

//OOCSS
.seccion
	padding 0
	overflow hiden
	margin 8em 0
	height auto
	text-align center
	width 100%
	background black
	color white	
	p
		font-family Varela Round
		margin 1em 4em
.button_procesos
	height 25px
	width 90px
	margin 0 auto
	font-family Varela Round
	text-align center
	background rojo_pag
	border-radius 5px
	cursor pointer
	border-style solid 
	border-color rojo2
	border-width 0px 0px 5px
	padding-top 8px
	
.left
	float left
.white
	background white
	p
		color black

.redBackground
	border-bottom 2px solid red
	border-radius 5px
	margin 0 auto
	width 45%
	height auto
	background red
.margin-top
	margin-top 2em !important


.seccionProcess
	padding 0
	margin 8em 0
	height auto
	width 100%
	background #e6e6e6
	color white	
	p
		font-family Varela Round
		margin 1em 4em
	.process
		width 21.5em
		margin 2em
		background white
		display inline-block
		text-align center
		padding 0 0 1em 0
		margin 0 3em 2em 1em 
		border-top 3px solid rojo_pag
		.name
			font-family 'Roboto' sans-serif
			font-size 1.5rem 
			border-bottom 2px solid black
			text-align center 
			font-weight bold 
			padding 0.5em 0
			margin 0 
		.image
			margin 0
			padding 0 
			img
				width 340px
				height 229px
				 
	 	
.input
	width 20em
	display inline-block
	color black
	margin-top 2em
	text-align center
	span
		color white
		font-size 1.5em
		text-shadow 1px 1px 2px white, 0, 0 0 0.2em white;
	
.contacto
	color white
	text-decoration none
	
footer
	background black
	color white
	height auto
	text-align center
	padding 1em
	.redes 
		text-align center
		font-size 3em
		a
			text-decoration none
			padding .2em
			color white
			&:hover
				color amarillo_pag
	
@media screen and (max-width:480px)
	#menu 
		display block
	.Entrada
		display none
	.container
		position relative
		h1
			text-align center
			font-size 1.7em
			margin 0
			padding 0
			
		.position
			position absolute
			top .1em
			right .4em
			font-size 1.8em
			color white

		.registro
			display none
			color white
			background black
			text-align center 
			padding 1em 
			.button_registro
				margin 0 auto
				background rojo_pag
				width 180px
				height 30px
				font-family "Varela Round"
				font-size 1.3em
				padding 0 1em
				border-radius 4px
				cursor pointer
				border-style solid 
				border-color rojo2
				border-width 0px 0px 5px
				
		.sponsors
			margin-top .5em
			text-align center
			font-size 2em
			a
				text-decoration none
				padding .2em
				color white
				&:hover
					color amarillo_pag
			figure
				img 
					width 190px
					height 168px
					border-radius  100%
					border 6px solid amarillo_pag 
					&:hover
						cursor pointer
						transform rotate(360deg)
						transition transform .3s ease-in-out
					
	.seccion
		height auto
		text-align center
		padding-bottom 1em
		width auto
					
		p
			margin 1em 2em
			font-size 0.8em
			
	.seccionProcess
		background #e6e6e6
		
		p
			margin 1em 2em
			font-size 0.8em
			
		.process
			text-align center
			background white
			width 17em
			padding 0 0 1em 0
			margin 0 0 2em 1em 
			border-top 3px solid rojo_pag
			.image
				img 
					width 270px
					height 194px
				.borders
					border 2px solid amarillo_pag 
			.name
				font-size 1.2rem
				font-weight bold 
				padding 0.5em 0
				margin 0
				text-align center
				
	.seccion
		.input
			text-align left
			width auto 
			font-size 0.9em
			.tittle
				margin-right 1em
			input 
				border-radius 3px
			textarea
				border-radius 3px
				padding-left 2em
				margin-button 1em
		.padding
			margin-top 1em
			
	footer
		p 
			margin 0
			&:first-child
				margin-button 2em 
			&:last-child:after
				content "-"
			&:last-child:before
				content "-"
				
		.redes 
			text-align center
			font-size 2em
			margin-top 0.3em
			
	.button_procesos
		height 20px
		width 150px 
		margin 0 auto
		font-family Varela Round
		background rojo_pag
		border-radius 3px
		cursor pointer
		text-transform uppercase 
		border-style solid 
		border-color rojo2
		border-width 0px 0px 5px
		padding-top 8px
				
	.redBackground
			width 70%
			height auto

	h2
		font-size 1.5em
		width 100%
