@import "normalize.styl"
rojo_pag = #FF1D0D
amarillo_pag = #F5FF0D
rojo2 = #BE1F12 
gris_mas_claro = #F0F0F0
girs_oscuro = #333333

body
	font-size 16px
	background gris_mas_claro
	height auto
		
figure
	position absolute
	top 0
	right 0
	margin-right 3em
	z-index 1
	
	img		
		width 170px
		height 151px
		border-radius 100%
		border 8px amarillo_pag solid
header
	color white
	text-align center 
	background black
	line-height 10em

input
	border-radius 3px
	border 1px black solid
	height 3em
	width 18em
	margin-bottom 1em 
	padding-left 2em

section	
	background white
	padding-top 4em
	height 53em
	
select
	border-radius 3px
	border 1px black solid
	height 3em
	width 20em
	padding-left 2em
	margin-bottom 1em
	font-family 'Varela Round'

h1
		font-family 'Lobster'
		font-size 3em
		text-align center
		background rgb(38,38,38)
		color white
		margin 0

.secpersonal
	height 100%
	background white

.frmAsignarPerfil
	position relative 
	height 53em
	text-align center 
	
	
		
	.inputs
		display flex
		flex-flow row wrap
		flex-wrap wrap
		justify-content space-around 
		width 50em
		margin 1em auto 
		
			
.botones 
	position absolute
	top 14em
	left 5em
	margin-bottom 1em
.dere
	position absolute
	right 5em
	top 14em	 
		
.boton
	padding .5em 1em 
	background rojo_pag
	width 6em
	display block
	cursor pointer
	border-radius 4px
	border-bottom 5px rojo2 solid
	transition .2s
	margin 1em
	font-family 'Varela Round'
	&:active
		width 5.5em
		height 1em
		font-size 14px
.radioboton
	color black
	width 20em
	display inline-block

.radio
	display inline-block
.secperso
	padding-top 0
	margin-top 2em

.frmpersonal
	position relative 
	height auto
	text-align center 

	.inputs_registro
		display flex
		flex-flow row wrap
		flex-wrap wrap
		justify-content space-around 
		width 50em
		margin 1em auto 
	.titulo
		text-align center
		font-size 1.2em




.menu
	display block
	background gris_mas_claro
	overflow hidden
	border-top 1px solid gris_claro
	border-top 1px solid gris_claro
	.item
		float left
		display inline-block
		a
			text-decoration none
			padding 1em
			display block
			border-top 5px solid transparent
			transition .3s border-top
			text-transform uppercase
			color girs_oscuro
			&:hover
				border-top 5px solid girs_oscuro


	
		

