@import "normalize.styl"
@import "fonts.styl"

negro = #1C1C1C
rojo_claro = #BE1F12
amarillo_pag = #F5FF0D
rojo2 = #BE1F12 

a
    text-decoration none

body
    margin 0
    padding 0
    font-size 16px

figure
    margin 0

h1
    background negro
    border-bottom 2px solid red
    text-align center
    padding 0
    font-family 'Lobster'
    letter-spacing 2px
    font-size 1.7em;
    margin 0
    color white  
h2
    text-align center
    padding 0
    font-family 'Lobster'
    letter-spacing 2px
    font-size 1.5em;
    width 100%
    font-weight 400
    margin 0
    color white

.title
    color black 

//buttons
.button_procesos
    height 1.6em
    width 7em
    margin 0 auto
    font-family Varela Round
    text-align center
    background rojo_claro
    border-radius 5px
    cursor pointer
    border-style solid 
    border-color rojo2
    border-width 0px 0px 5px
    padding-top 8px
    transition 1s 
    &:active
        width 6.3em
        height 1.3em
        font-size 14px


//OOCSS

.left
    float left
.white
    background white
    p
        color black

.redBackground
    border-bottom 2px solid red
    border-radius 5px
    margin 0 auto
    width 70%
    height auto
    background red
.margin-top
    margin-top 2em !important


.label
    margin 0 

.contacto
  color white
  text-decoration none
  
.button_registro
    display none

.container
    background-image url('../images/Fondo1.jpg')
    background-attachment fixed
    height 100%
    width 100%
    position relative

    #menu1
        display inline-block
        font-size 2em
        color white
        text-decoration none

    .modalmask 
        position fixed
        font-family Arial, sans-serif
        top 0
        right 0
        bottom 0
        left 0
        background rgba(0,0,0,0.8)
        z-index 99999
        opacity 0
        transition opacity 400ms ease-in 
        pointer-events none
        &:target 
            opacity 1
            pointer-events auto  
        
        .modalbox
            width 300px
            position relative
            padding 5px 20px 13px 20px
            background #fff
            border-radius 3px
            transition all 500ms ease-in

            .title
                color black
                font-size 1.5em
            
            form 
                height 10em
                text-align center
                
                .usuario
                    width 60%  
                    margin 2em auto
                    text-align left
                    .usu
                        margin-button 2em
                .buttons
                    margin-top 2em 
                    a
                        text-decoration none
                        color black 

                .close 
                    background #606061
                    color #FFFFFF
                    line-height 25px
                    position absolute
                    right 1px
                    text-align center
                    top 1px
                    width 24px
                    text-decoration none
                    font-weight bold
                    border-radius 3px
                    &:hover  
                        color #222
  
        .movedown 
            margin 0 auto
     
    .modalmask:target .movedown       
        margin 10% auto
      
    .position
        position absolute 
        top 0
        right 0.5em
        font-size 1.8em
        color red

    .sponsors
        margin-top .5em
        text-align center
        font-size 2em
        a
            text-decoration none
            padding .2em
            color white
            &:hover
                color amarillo_pag
        figure
            img 
                width 190px
                height 168px
                border-radius  100%
                border 6px solid amarillo_pag 
                &:hover
                    cursor pointer
                    transform rotate(360deg)
                    transition transform .3s ease-in-out  
    
    .seccion
        height auto
        text-align center
        padding-bottom 1em
        width 100% 
        overflow hiden
        margin 8em 0
        height auto  
        background negro
        color white 
        p
            font-family Varela Round
            margin 1em 2em
            font-size 0.8em 

    .seccionProcess
        padding 0
        margin 8em 0
        height auto
        width 100%
        background #e6e6e6
        color white 
        p
            font-family Varela Round
            margin 1em 2em
            font-size .8em
        .process
            width auto 
            background white
            display inline-block
            text-align center
            padding 0 0 1em 0
            margin 0 2em 2em 2em 
            border-top 3px solid rojo_pag  
            .name
                font-family 'Roboto' sans-serif
                font-size 1.2em 
                border-bottom 2px solid black
                text-align center 
                font-weight bold 
                padding 0.5em 0
                margin 0   
            .image
                margin 0 
                padding 0 
                img
                    width 270px
                    height 194px  

    .seccion
        .input
            text-align center
            width auto 
            margin-top 2em
            font-size 0.9em
            .tittle
                margin-right 1em
            span
                color white
                font-size 1.5em
                text-shadow 1px 1px 2px white, 0, 0 0 0.2em white;
            input 
                border-radius 3px
            textarea
                border-radius 3px
                padding-left 2em
                margin-button 1em
        .padding
            margin-top 1em
      
    footer
        background negro
        color white
        height auto
        text-align center
        padding 1em
        p 
            margin 0
            &:first-child
                margin-button 2em 
            &:last-child:after
                content "-"
            &:last-child:before
                content "-"
        .redes 
            display block 
            text-align center
            font-size 1em
            margin-top 0.3em 
            a
                text-decoration none
                padding .2em
                color white
                &:hover
                    color amarillo_pag



@media screen and (min-width:768px)

    body
        font-size 22px
    .container 
        .seccionProcess 
            text-align center
            .process
                width 70%
                .image
                    margin 0
                    padding 0
                    img
                        width 500px
                        height 333px

