<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Menu Administrador</title>
	<link rel="stylesheet" href="../css/styl.css">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>		
		<h1>Menu Administrador</h1>
		<figure>
			<img src="../images/Logo.jpg" alt="Granja Porcicola Wilbur">
		</figure>
	</header>
	<nav class="menu">
			<ul class="list wrap center_block">
				<li class="item">
					<a href="#">Registro Personal</a>
				</li>
				<li class="item">
					<a href="#">Asignar Perfil</a>
				</li>
				<li class="item">
					<a href="#">Reportes</a>
				</li>
				<li class="item">
					<a href="#">Salir</a>
				</li>
			</ul>
		</nav>
</body>
</html>